//HEADER APP
header {
    .logo {
        width: 90%;
        margin-top: 10%;
    }
    .PrincipalTitles {
        font-size: $titles;
        color: $white;
        font-family: $Type;
        font-weight: $TitleWeight;
        margin-top: $MarginTitles;
        padding-bottom: 5%;
    }
}

@media only screen and (min-width: 426px) {
    header {
        background: $BackgroundColor !important;
        color: white;
        a {
            color: inherit;
        }
    }
}

//FOOTER
footer {
    .white {
        color: white;
    }
    .underline {
        text-decoration: underline;
    }
    .Registrate {
        width: 100%;
        text-align: center;
        font-size: 16pt;
        font-weight: $TitleWeight;
    }
    .Registrate:active {
        color: white;
    }
    .SpaceEnd {
        padding-bottom: 8%;
    }
    .margin-top {
        margin-top: 8%;
    }
}

//Navbar
.back-white {
    background: white;
}

.menu {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $BackgroundColor;
    //Shadow
    box-shadow: $Navbar-Shadow;
    -moz-box-shadow: $Navbar-Shadow;
    -webkit-box-shadow: $Navbar-Shadow;
    border: none;
    .logo-nav {
        max-width: 160px;
        margin: 0%;
    }
    .logo {
        margin-top: 0%;
    }
    div {
        padding-right: 5%;
    }
}

#menu {
    width: 100%;
    margin-top: -55px;
    display: none;
    background: $BackgroundColor;
    padding: 5% 0% 1% 0%;
    border: none;
    color: white;
    position: absolute;
    //Shadow
    box-shadow: $Navbar-Shadow;
    -moz-box-shadow: $Navbar-Shadow;
    -webkit-box-shadow: $Navbar-Shadow;
    a {
        color: white;
        font-weight: 100;
    }
    a:hover {
        font-weight: 700;
        text-decoration: none;
    }
}

.InstructionBox {
    background: $SectionColor;
    color: $TextColor;
    font-weight: 600;
    text-align: center;
    padding: 2% 0% 2% 0%;
    //Shadow
    box-shadow: $Navbar-Shadow;
    -moz-box-shadow: $Navbar-Shadow;
    -webkit-box-shadow: $Navbar-Shadow;
}