        @import "variables";
        @import "buttons";
        @import "inputs";
        @import "alerts";
        @import "header-footer";
        @import "text";
        //Desktop Version
        @import "desktop";
        //Fonts
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
        .colortheme {
            background: $BackgroundColor;
        }
        
        .center {
            display: flex;
            justify-content: center;
        }
        
        .wrap {
            display: flex;
            flex-wrap: wrap;
        }
        
        .Width100 {
            width: 100%;
        }
        
        hr {
            margin: 0%;
            border: 1.5px solid white;
        }
        
        .textCenter {
            text-align: center;
        }