@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
.Button {
  width: 90%;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14pt;
  margin-top: 10%;
  margin-bottom: 8%;
  background: #457AFB;
  /* Border Radius */
  border: none;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* Shadow */
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  outline: none !important;
  outline-width: 0 !important; }

.Button:focus {
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9); }

.Button-nav {
  width: 15%;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14pt;
  background: #457AFB;
  /* Border Radius */
  border: none;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* Shadow */
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  float: right;
  margin-right: 4%;
  outline: none !important;
  outline-width: 0 !important; }

.Button-nav:focus {
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9); }

@media only screen and (max-width: 1260px) {
  .Button-nav {
    width: 25%;
    font-size: 1.5vw; } }
.input {
  width: 90%;
  height: 50px;
  color: #393939;
  margin: 2.5% 0% 2.5% 0%;
  text-align: center;
  font-size: 16pt;
  /* Border Radius */
  border: none;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* Shadow */
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5); }

.input::placeholder {
  color: #BABABA; }

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9); }

.submit {
  width: 100%;
  height: 60px;
  background: #457AFB;
  color: white;
  font-size: 16pt;
  font-weight: 700;
  text-align: center;
  /* Border Radius */
  border: none;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* Shadow */
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5); }

select {
  text-align-last: center; }

select:focus,
select.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.9); }

#Alert-LogIn {
  display: none; }

.alert {
  width: 90%;
  min-height: 30px;
  color: #fff;
  text-align: center;
  background: #FC7777;
  margin: 1%;
  padding: 1%;
  /* Border Radius */
  border: none;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  /* Shadow */
  box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 23px -4px rgba(0, 0, 0, 0.5); }

header .logo {
  width: 90%;
  margin-top: 10%; }
header .PrincipalTitles {
  font-size: 6vw;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: -7%;
  padding-bottom: 5%; }

@media only screen and (min-width: 426px) {
  header {
    background: #332E7F !important;
    color: white; }
    header a {
      color: inherit; } }
footer .white {
  color: white; }
footer .underline {
  text-decoration: underline; }
footer .Registrate {
  width: 100%;
  text-align: center;
  font-size: 16pt;
  font-weight: 500; }
footer .Registrate:active {
  color: white; }
footer .SpaceEnd {
  padding-bottom: 8%; }
footer .margin-top {
  margin-top: 8%; }

.back-white {
  background: white; }

.menu {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #332E7F;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  border: none; }
  .menu .logo-nav {
    max-width: 160px;
    margin: 0%; }
  .menu .logo {
    margin-top: 0%; }
  .menu div {
    padding-right: 5%; }

#menu {
  width: 100%;
  margin-top: -55px;
  display: none;
  background: #332E7F;
  padding: 5% 0% 1% 0%;
  border: none;
  color: white;
  position: absolute;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53); }
  #menu a {
    color: white;
    font-weight: 100; }
  #menu a:hover {
    font-weight: 700;
    text-decoration: none; }

.InstructionBox {
  background: #EDD90A;
  color: #393939;
  font-weight: 600;
  text-align: center;
  padding: 2% 0% 2% 0%;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53); }

.Texticons {
  font-size: 16pt; }

.textform {
  margin: 3% 0% 5% 0%;
  text-align: center;
  color: white;
  font-size: 12pt; }

a.text-white {
  color: white; }

@media only screen and (max-width: 1024px) {
  .Texticons {
    font-size: 11pt; } }
.titles-white {
  font-size: 13pt;
  color: white;
  text-align: center;
  padding: 0% 5% 0% 5%;
  font-weight: 100; }

.Desktop {
  display: none; }

body {
  background: #332E7F; }

@media only screen and (min-width: 769px) {
  body {
    background: #fff; }

  header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; } }
  @media only screen and (min-width: 769px) and (max-width: 990px) {
    header nav {
      padding: 3% 0% 3% 0%; } }

@media only screen and (min-width: 769px) {
  .app {
    display: none; }

  .Desktop {
    display: block; }

  .work {
    width: 100%;
    text-align: center; }
    .work h2 {
      width: 100%;
      text-align: center;
      margin-top: 5%; }
    .work .content {
      margin: 4%; }
    .work .center {
      width: 100%; }
    .work .icons {
      width: 70%; }

  .form {
    width: 100%;
    background: #332E7F;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4%;
    padding-bottom: 6%; }
    .form form {
      width: 50%; }
    .form .input {
      width: 100%;
      height: 65px; }
    .form div {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 4%; }
      .form div h3 {
        width: 100%;
        color: white;
        font-size: 36pt;
        text-align: center; }
      .form div p {
        width: 50%;
        text-align: center;
        color: white;
        font-size: 18pt;
        font-weight: 300;
        line-height: 1.2; }

  .info {
    width: 99%; }
    .info .center-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0%; }
    .info img {
      width: 100%; }
    .info .overflow {
      overflow: hidden; }
    .info p {
      width: 80%;
      text-align: center;
      color: #332E7F;
      font-size: 16pt;
      font-weight: 700; } }
  @media only screen and (min-width: 769px) and (max-width: 766px) {
    .info .inverse {
      display: flex;
      flex-wrap: wrap-reverse; }
    .info p {
      margin-top: 6%;
      margin-bottom: 6%; } }

@media only screen and (min-width: 769px) {
  footer {
    background: #332E7F;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white; }
    footer .row {
      width: 99%;
      padding: 0%; }
    footer a {
      color: white;
      line-height: 2; }
    footer a:hover {
      color: white;
      font-weight: 700; }
    footer ul {
      list-style: none; }
    footer .linea {
      border-left: 2px solid white; }
    footer .list {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
    footer img {
      margin-left: 4%; } }
.colortheme {
  background: #332E7F; }

.center {
  display: flex;
  justify-content: center; }

.wrap {
  display: flex;
  flex-wrap: wrap; }

.Width100 {
  width: 100%; }

hr {
  margin: 0%;
  border: 1.5px solid white; }

.textCenter {
  text-align: center; }

.modal-enviado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .modal-enviado div {
    width: 100%; }
  .modal-enviado h4 {
    color: #332E7F;
    font-weight: 700; }
  .modal-enviado p {
    font-size: 14pt;
    padding: 0% 4% 0% 4%; }
  .modal-enviado button {
    background: #457AFB;
    color: white; }

.infopage {
  flex-wrap: wrap; }
  .infopage p {
    padding: 4% 6% 0% 6%;
    color: white;
    font-size: 12pt;
    text-align: center; }
  .infopage a {
    color: white;
    font-size: 14pt;
    text-decoration: underline;
    font-weight: 700; }
  .infopage div {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center; }

.cerrar {
  width: 100%;
  color: white;
  text-align: right;
  padding: 4%; }
  .cerrar a {
    color: white;
    font-size: 14pt;
    font-weight: 400; }

.absolute {
  position: absolute; }

/*# sourceMappingURL=styles.css.map */
