// Variables
// Color Palette
$BackgroundColor: #332E7F;
$ButtonColor: #457AFB;
$AlertColor: #FC7777;
$SectionColor: #EDD90A;
$white: #fff;
//MARGINS & PADDINGS
$MarginTitles: -7%;
$InputMargin: 2.5% 0% 2.5% 0%;
$padding-left-Input: 8%;
//TEXT
$Type: 'Roboto',
sans-serif;
$titles: 6vw;
$TitleWeight: 500;
$TextColor: #393939;
//INPUTS
$BorderRadius: 25px 25px 25px 25px;
$ShadowInput: 0px 10px 23px -4px rgba(0, 0, 0, 0.5);
$ShadowFocus: 0px 10px 23px -4px rgba(0, 0, 0, 0.9);
$Placeholder-Inputs: 16pt;
$Placeholder-Color: #BABABA;
$AlertMargin-bottom: 1%;
$PaddingAlert: 1%;
//BUTTONS
$ButtonWeight: 700;
//NAVBAR
$Navbar-Shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.53);